@import url("https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap");
html {
  box-sizing: border-box;
}

body {
  font-family: Spartan, sans-serif;
  margin: 0;
  min-height: 100vh;
  background: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.player-container {
  height: 600px;
  width: 400px;
  background-color: #5a5a5a;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.img-container {
  position: relative;
  top: -50px;
  left: 50px;
  height: 300px;
  width: 300px;
}
.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}
/* Volume-Slider */
.volume-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(243, 240, 240);
  border-radius: 5px;
  height: 5px;
  position: relative;
  width: 50%;
  left: 100px;
  outline: none;
  display: inline-block;
  cursor: pointer;
}

/* Progress */
.progress-container {
  background: rgb(243, 240, 240);
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: 40px;
  left: 30%;
  width: 200px;
}

.fas {
  font-size: 30px;
  color: rgb(31, 30, 30);
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
}
.fas:hover {
  filter: brightness(40%);
}

.main-button {
  font-size: 50px;
  position: relative;
  top: 3px;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .player-container {
    width: 95vw;
  }
  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}
