@import url("https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap");
html {
  box-sizing: border-box;
}

body {
  font-family: Spartan, sans-serif;
  margin: 0;
  min-height: 100vh;
  background: #d1d2d3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.player-container {
  height: 600px;
  width: 400px;
  background-color: #9c9595;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.img-container {
  position: relative;
  top: -50px;
  left: 50px;
  height: 300px;
  width: 300px;
}
.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(201, 103, 103, 0.5);
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}
/* Volume-Slider */
.volume-container {
  position: relative;
  top: 10%;
  margin: 0;
}
.volume-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: rgb(243, 240, 240);
  border-radius: 5px;
  height: 5px;
  position: absolute;
  left: 35%;
  width: 30%;
  outline: none;
  cursor: pointer;
  box-shadow: 0 5px 30px 2px rgba(201, 103, 103, 0.5);
}
.volume-slider::-webkit-slider-thumb{
  -webkit-appearance: none; 
  appearance: none;
  width: 18px; 
  height: 20px; 
  border-radius: 35%;
  background: #585858; 
  cursor: pointer;
}
.volume-slider::-webkit-slider-thumb:hover{
  background-color: rgb(53, 46, 46);
}

/* Progress */
.progress-container {
  background: rgb(243, 240, 240);
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: 10px;
  left: 30%;
  width: 200px;
}

.fas {
  font-size: 30px;
  color: rgb(53, 46, 46);
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
}
.fas:hover {
  filter: brightness(20%);
}

.main-button {
  font-size: 50px;
  position: relative;
  top: 3px;
}
/* Volume Icons */
.fa-volume-off {
  position: relative;
  bottom: 7px;
  left: 28%;
  font-size: 23px;
  color: #585858;
}
.fa-volume-up {
  position: relative;
  bottom: 7px;
  left: 58%;
  font-size: 23px;
  color: #585858;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 375px) {
  .volume-slider {
    margin: 0;
    left: 34%;
    top: -16px;
  }
  .player-container {
    width: 98vw;
    margin-top: 30%;
  }
  .img-container {
    left: 10%;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
  .fa-volume-off {
    position: relative;
    bottom: 24px;
    left: 28%;
    font-size: 20px;
  }
  .fa-volume-up {
    position: relative;
    bottom: 24px;
    left: 56%;
    font-size: 20px;
  }
}
